<strong>Textfält</strong>
<br />
<label for="input_email">E-post</label><br />
<input type="email" id="input_email" autocomplete="email" />
<br />
<br />
<label for="input_required">Obligatorisk</label><br />
<input type="text" id="input_required" aria-required="true" />

<br />
<br />

<strong>Kryssrutor & radioknappar</strong>
<br />
<fieldset>
  <legend>En fråga?</legend>

  <div>
    <input id="check_1" type="checkbox" />
    <label for="check_1">Val 1</label>
  </div>

  <div>
    <input id="check_2" type="checkbox" />
    <label for="check_2">Val 2</label>
  </div>

  <div>
    <input id="check_3" type="checkbox" />
    <label for="check_3">Val 3</label>
  </div>
</fieldset>

<fieldset aria-required="true">
  <legend>Välj en</legend>

  <input type="radio" id="radio_1" name="radio" />
  <label for="radio_1">Val 1</label>

  <input type="radio" name="radio" id="radio_2" />
  <label for="radio_2">Val 2</label>

  <input type="radio" name="radio" id="radio_3" />
  <label for="radio_3">Val 3</label>
</fieldset>

<br />
<br />

<strong>Dropdown</strong>
<br />
<label for="select"> Välj ett alternativ </label>
<br />
<select id="select" aria-required="true">
  <option value="A">Alpha</option>
  <option value="B">Bravo</option>
  <option value="C">Charlie</option>
</select>

<br />
<br />

<strong>Validering</strong>
<br />
<label for="input_invalid">Textfält med fel</label>
<br />
<input
  type="text"
  id="input_invalid"
  aria-invalid="true"
  aria-describedby="validation_text"
/>
<br />
<strong id="validation_text">Fyll i fältet i formatet XYZ</strong>
